*{
	padding:0;
	margin:0;
}
body{
	background-color: darkslateblue;
}
.wrap{
	width:80%;
	height:995px;
	
	background-image: url(../img/uuuu.jpg);
	background-size:cover;
	color:#ffffff;
	margin: 0 auto;
	background-repeat:no-repeat ;
}
.sinnav{
	width:100%;
	height:160px;
	position: relative;
}
.sinnav h1{
	position:absolute;
	margin:31px 418px 10px;
}
.sinnav h1 img{
	width:350px;
	height:105px;
}
.center{
	width:500px;
	height:450px;
	margin:0 auto;
	background-image: url(../img/QJ9114577627.jpg);
	border-left:10px solid deepskyblue;
	border-top:10px solid deepskyblue;
	border-right:10px solid yellow;
	border-bottom:10px solid yellow;
}
.bz-t h1{
	margin:20px 0px 28px;
	text-align: center;
    color:#5E0598;

	
}
.bz-t button{
	width:100%;
	height:40px;
	border:none;
	background-color:#5e0598;
	color:#FFFFFF;
	margin:3px 0px 15px;
}
.or{
	width:100%;
	height:21px;
	text-align: center;
	margin:20px 0px;
	font-family: "arial rounded mt bold";
	
}
.bz-t input{
	width:473px;
	height:35px;
	padding:0px 10px;
	margin:20px 0px;
	font-family: "arial rounded mt bold";
	border:2px solid #00BFFF;
	color:#5E0598;
}
.bz-t p{
	margin:0px 0px 10px;
	color:#5E0598;
	font-weight: 600;
	font-family: "微软雅黑";
	text-align: center;
}
.redo{
	width:475px;
	height:28px;
	padding: 0px 10px;
	margin-top:13px;
	line-height: 28px;
	position: relative;
}
.redo input{
	border: none;
	width:20px;
	height:20px;
	position: absolute;
	bottom: -16px;
	left:1px;
}
